label, input {
    display: block;
}

label {
    float: left;
    padding: 3px 0;
    margin: 3px 0;
}

input {
    float: right;
    padding: 3px 0;
    margin: 3px 0;
}

div {
    overflow: hidden;
}

button {
    line-height: 30px;
    width: 150px;
}

.box-container, .settings-container {
    width: 350px;
    height: 350px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.box {
    width: 16.66666666666667%;
    height: 16.66666666666667%;
    float: left;
    border: 1px solid black;
    box-sizing: border-box;
}

.bunny {
    background-color: #404040;
}

.woolf {
    background-color: #00137F;
}

.tree {
    background-color: #267F00;
}

.bush {
    background-color: #60FF63;
}